
.Home{
background-color:black;
width:101%;
height:100%;
margin:0px;
}
.Home ul{
padding:1px;	
margin-left:10px;
margin-right:-62px;
}
.Home ul li{
float: left;
background-color:black;
color: white;
width: 180px;
height:70px;
line-height: 50px;
font-size: 20px;
text-align: center;
list-style: none;
opacity:0.6px;
display:inline-block;
}
.Home ul li a{
    background: black;
    color:white;
    position: relative;
    display: block;
    text-decoration: none;
    transition: .5s;
}

.Home ul li ul a:hover{
    background: black;
}
.Home ul li ul li {
    background-color: black;
    display: none ;
}

.Home ul li:hover ul li{
	display: block;
        background: black;
}

p{
    text-align: center;
    font-size: 30px;
}
input[type="number"] {
    border: none;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 20px; 
    height: 30px;
    width: 400px;
    text-align: center;
    font-size: 16px;
    outline: none;
}

input[type=submit]{
    border: none;
    outline: none;
    height: 60px;
    width:300px;
    margin-top: 100px;
    background: black;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.footer{
    bottom:0px;
    width:101%;
    height:30px;
    padding-top:10%;
}

.footer .outer{
    background-color:black;
    color:white;
    width:101%;
    height:250px;
    display:flex;
    align-items:center;
	font-size:18px;
}

.footer .inner{
    width:20%;
    height:80%;
    display:inline-block;
    margin-left:6%;
    border-right:1px solid #afafaf;
}

.footer .inner2{
    width:20%;
    height:80%;
    display:inline-block;
    margin-left:8%;
    border-right:1px solid #afafaf;

}

.footer a{
    display:block;
    padding:2%;
    color:white;
}

.footer .copyright{
    background-color:black;	
	color:white;
}

.footer .copyright ps{
    margin-left:100px;
}
a{
  text-decoration: none;
}