.Home{
background-color:black;
width:101%;
height:100%;
margin:0px;
}
.Home ul{
padding:1px;	
margin-left:10px;
margin-right:-62px;
}
.Home ul li{
float: left;
background-color:black;
color: white;
width: 180px;
height:70px;
line-height: 50px;
font-size: 20px;
text-align: center;
list-style: none;
opacity:0.6px;
display:inline-block;
}
.Home ul li a{
    background: black;
    color:white;
    position: relative;
    display: block;
    text-decoration: none;
    transition: .5s;
}

.Home ul li ul a:hover{
    background: black;
}
.Home ul li ul li {
    background-color: black;
    display: none ;
}

.Home ul li:hover ul li{
	display: block;
        background: black;
}

.HME{
	margin-top:100px;
	margin-right:200px;
	margin-left:200px;
	text-align:center;
	font-size:20px;
}




.IMAGE{
    margin-top: 42px;
    width: 600px;
    height:720px;
    float: left;
    
    
}


.addproduct{
    border: 2px solid;
    border-radius: 30px;
    width: 600px;
    height: 800px;
    background: white;
    color: black;
    margin-top: 450px;
    left: 73%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.addproduct p{

    font-weight: bold;
}

.addproduct input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.footer{
    bottom:0px;
    width:1330px;
    height:30px;
    padding-top: 80%;
}

.footer .outer{
    background-color:black;
    color:white;
    width:1330px;
    height:250px;
    display:flex;
    align-items:center;
    font-size:18px;
}

.footer .inner{
    width:20%;
    height:80%;
    display:inline-block;
    margin-left:8%;
    border-right:1px solid #afafaf;
}

.footer .inner2{
    width:20%;
    height:80%;
    display:inline-block;
    margin-left:5%;
    border-right:1px solid #afafaf;

}

.footer a{
    display:block;
    padding:2%;
    color:white;
}

.footer .copyright{
    background-color:black;	
	color:white;
}

.footer .copyright p{
    margin-left:100px;
}
a{
  text-decoration: none;
}